// Base Colors
$primary-color: #000000;
$secondary-color: #ff00ff;
$complimentary-color: #ffffff;
$body-bg: #ffffff;
$body-font-color: #000000;

// Links
$link-color: #ff00ff;
$link-hover-color: lighten($link-color, 15%);
$link-visited-color: lighten($link-color, 25%);

// Text
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 5.0em;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.25;

// Header Settings
$header-color: $primary-color;
$header-link-color: $complimentary-color;
$header-link-hover-color: $secondary-color;
$header-link-visted-color: $link-color;
$header-active-link-color: #ff00ff;

// Sidebar Settings
$sidebar-color: $complimentary-color;

// Topbar Navbar Settings
$navbar-height: 45px;

// Mobile Navbar Settings
$navbar-color: $primary-color;
$navbar-text-color: $complimentary-color;
$navbar-hover-color: lighten($secondary-color, 15%);
$navbar-active-color: $primary-color;
$navbar-font-size: 13px;
$navbar-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$hamburger-icon-color: $complimentary-color;


// Socials Navbar Settings
$socials-font-color: $secondary-color;
$socials-font-size: 1.5em;

// Gallery Lightbox Pop-Up
$lightbox-background-color: rgba(0, 0, 0, 0.95);
$lightbox-border-color: $complimentary-color;
$lightbox-description-background-color: rgba(254, 254, 254, 0.8);
$lightbox-description-text-color: black;
$lightbox-caption-text-color: $complimentary-color;
$lightbox-navigation-color: $complimentary-color;


// Utility
$spacing-unit: 40px;

// Layout Settings
$header-margin: 5.0em;

// Buttons
$button-color: #000000;
$button-hover: #ff00ff;
$button-text-color: #ffffff;
